<div class="holder header-holder">
	<div class="row header-row">
		<div class="header">
			<div class="inner">
				<h1 class="logo">
					<a href="index.html">T3Popcorn</a>
				</h1>
				<nav class="main-nav">
					<ul>
						<li {% if page.url contains "index" %}class="selected"{% endif %}><a href="index.html">Home</a></li>
						<li {% if page.url contains "milestones" %}class="selected"{% endif %}><a href="milestones.html">Milestones</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
